[submodule "external/DirectXTex"]
	path = external/DirectXTex
	url = https://github.com/microsoft/DirectXTex
[submodule "FD2D"]
	path = FD2D
	url = https://github.com/floyd68/FD2D.git
	branch = master
[submodule "ImageCore"]
	path = ImageCore
	url = https://github.com/floyd68/ImageCore.git
	branch = master
